.speechContainer {
    position: relative;
}

.bubble {
    -webkit-animation: bounceBubble 0.5s both ease-out 0.2s;
}


.swayFeet {
    -webkit-animation: swayFeet 4s infinite ease-out;
}

.swayRightArm {
    -webkit-animation: swayRightArm 2.3s infinite ease-out;
}

.swayLeftArm {
    -webkit-animation: swayLeftArm 2s infinite ease-out;
}

.swayBody {
    -webkit-animation: swayBody 4s infinite ease-out;
}

.swayHead {
    -webkit-animation: swayHead 4s infinite ease-out;
}

.blinkLeft {
    -webkit-animation: blinkLeft 5s infinite ease-out;
}

.blinkRight {
    -webkit-animation: blinkRight 5s infinite ease-out;
}

.breathe {
    -webkit-animation: breathe 3s infinite ease-in-out;
}

@keyframes swayFeet {
    0% {
        -webkit-transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(11deg);

    }
    50% {
        -webkit-transform: rotate(0deg);
    }
    75% {
        -webkit-transform: rotate(-11deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes swayRightArm {
    0% {
        -webkit-transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(15deg);

    }
    50% {
        -webkit-transform: rotate(0deg);
    }
    75% {
        -webkit-transform: rotate(-15deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes swayLeftArm {
    0% {
        -webkit-transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(-15deg);

    }
    50% {
        -webkit-transform: rotate(0deg);
    }
    75% {
        -webkit-transform: rotate(15deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes swayBody {
    0% {
        -webkit-transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(15deg) translate(15px, -5px);

    }
    50% {
        -webkit-transform: rotate(0deg);
    }
    75% {
        -webkit-transform: rotate(-15deg) translate(-15px, -5px);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes swayHead {
    0% {
        -webkit-transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(15deg) translate(22px, -5px);
    }
    50% {
        -webkit-transform: rotate(0deg);
    }
    75% {
        -webkit-transform: rotate(-15deg) translate(-22px, -5px);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes blinkLeft {
    0% {
        -webkit-transform: scale(1, 1);
    }
    49% {
        -webkit-transform: scale(1, 1);
    }
    50% {
        -webkit-transform: scale(1, 0.15);
    }
    51% {
        -webkit-transform: scale(1, 1);
    }
    100% {
        -webkit-transform: scale(1, 1);
    }
}

@keyframes blinkRight {
    0% {
        -webkit-transform: scale(1, 1);
    }
    51% {
        -webkit-transform: scale(1, 1);
    }
    52% {
        -webkit-transform: scale(1, 0.15);
    }
    53% {
        -webkit-transform: scale(1, 1);
    }
    100% {
        -webkit-transform: scale(1, 1);
    }
}

@keyframes breathe {
    0% {
        -webkit-transform: scale(1, 1);
    }
    25% {
        -webkit-transform: scale(1, 0.9);
    }
    50% {
        -webkit-transform: scale(1, 0.8);
    }
    75% {
        -webkit-transform: scale(1, 0.9);
    }
    100% {
        -webkit-transform: scale(1, 1);
    }
}

.bounceFeet {
    -webkit-animation: bounceFeet 0.5s ease-in-out 0.5s;
}

.bounceBody {
    -webkit-animation: bounceBody 0.5s ease-in-out 0.6s;
}

.bounceHead {
    -webkit-animation: bounceHead 0.5s ease-in-out 0.7s;
}

.talk {
    transform: translateZ(0);
    will-change: transform;
    -webkit-animation: talk 1.4s both linear 0.5s;
}

@keyframes bounceFeet {
    0% {
        -webkit-transform: translate(0px, 0px);
    }
    50% {
        -webkit-transform: translate(0px, -10px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
    }
}

@keyframes bounceBody {
    0% {
        -webkit-transform: translate(0px, 0px);
    }
    50% {
        -webkit-transform: translate(0px, -18px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
    }
}

@keyframes bounceHead {
    0% {
        -webkit-transform: translate(0px, 0px);
    }
    50% {
        -webkit-transform: translate(0px, -27px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
    }
}

@keyframes talk {
    0% {
        -webkit-transform: rotate(0deg) scale(1, 1) translateZ(0);
    }
    21% {
        -webkit-transform: rotate(9deg) scale(1, 0.3);
    }
    29% {
        -webkit-transform: rotate(-6deg) scale(0.95, 1);
    }
    35% {
        -webkit-transform: rotate(0deg) scale(1, 1);
    }
    44% {
        -webkit-transform: rotate(12deg) scale(1, 0.5);
    }
    49% {
        -webkit-transform: rotate(0deg) scale(0.9, 1);
    }
    65% {
        -webkit-transform: rotate(-5deg) scale(1, 0.2);
    }
    84% {
        -webkit-transform: rotate(-4deg) scale(1, 1);
    }
    100% {
        -webkit-transform: rotate(0deg) scale(1, 1);
    }
}


@keyframes bounceBubble {
    0% {
        -webkit-transform: scale(1, 1);
    }
    30% {
        -webkit-transform: scale(0.8, 1.2);
    }
    60% {
        -webkit-transform: scale(1.1, 0.9);
    }
    80% {
        -webkit-transform: scale(0.95, 1.05);
    }
    100% {
        -webkit-transform: scale(1, 1);
    }
}
